# Gradle
.gradle/
build/

# IntelliJ IDEA
*.iml
.idea/
out/

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Java
*.class

# H2 Database
*.h2.db
*.mv.db

# Other
*.jar
!gradle/wrapper/gradle-wrapper.jar
*.war
*.ear